.footer {
  padding: var(--top-space) 0 0;
  .wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    padding-bottom: var(--bottom-space);
  }

  .menus {
    grid-column: 1/3;
    display: flex;
    align-items: flex-start;
    gap: 3.5rem;
    li {
      &:not(:last-child){
        margin-bottom: 0.5em;
      }
    }
  }

  .contacts {
    grid-column: 3/4;
    .contact_item{
      &:not(:last-child){
        margin-bottom: 3rem;
      }
    }
  }

  .newsletter {
    grid-column: 4/6;
    padding-left: 5rem;
  }

  .payments {
    grid-column: 1/3;
  }

  .social {
    grid-column: 5/6;

    .social_list {
      display: flex;
      gap: 0.5rem;
      a {
        display: inline-flex;
        transition: all var(--duration) ease;
        &:hover{
          scale: 1.1;
        }
      }
    }
  }
  .bottom {
    border-top: 1px solid rgba(var(--color-border),var(--color-border-alpha));
    padding: 3rem 0;
  }
}