.header{
  position: sticky;
  top: 0;
  padding: 1rem 0;  /* 16/16 */
  z-index: var(--header-z-index,1000);
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
  }
  .menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;  /* 24/16 */
    @media screen and (min-width: 1366px)  {
      gap: 3rem;  /* 48/16 */
    }
  }
  .nav{
    display: none;
    &.open{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgb(var(--color-bg));
      z-index: calc(var(--header-z-index) + 1);
      padding: 1.5rem;
      .menu {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    @media screen and (min-width: 1200px) {
      display: block;
      margin-left: auto;
    }

    .nav_buttons {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: flex-start;
      padding-top: 1rem;
    }
  }
  .buttons {
    display: flex;
    align-items: center;
    gap: 2.25rem;  /* 36/16 */
    margin-left: auto;
  }
  .menu_link {
    display: inline-block;
    position: relative;
    transition: all var(--duration) ease-in-out;
    &:before{
      content: '';
      position: absolute;
      top: 50%;
      right: 100%;
      transform: translate(-0.5rem,-50%);
      width: 0.5rem;  /* 4/16 */
      height: 0.5rem;  /* 4/16 */
      background: currentColor;
      border-radius: 50%;
      scale: 0;
      @media screen and (min-width: 1200px) {
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    span,
    &:before{
      transition: inherit;
      display: inline-block;
    }
    &:hover{
      span {
        scale: 1.03;
      }
      &:before{
        scale: 1;
      }
    }
    &.current {
      &:before{
        scale: 1;
      }
    }
  }
  .header_link{
    display: inline-block;
  }
  .burger{
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 2.75rem;  /* 44/16 */
    span {
      display: block;
      width: 100%;
      height: 2px;
      background: currentColor;
    }
    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  .close {
    max-width: 2.75rem;   /* 44/16 */
    width: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    order: -1;
  }
}