.hero {
  position: relative;
  z-index: 1;
  padding-bottom: var(--bottom-space);
  .hero_bg {
    position: absolute;
    left: 0;
    top: 50%;
    width: 70%;
    height: 50%;
    background-image: url("/hero-bg.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    @media screen and (min-width: 1024px) {
      top: 0;
      height: 100%;
    }
  }

  .hero_wrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 4rem 0;
    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: 28rem 1fr;   /* 448/16 */
      gap: 4rem;
      padding: 6rem 0;
    }
  }

  .hero_content {

  }

  .hero_title {
    margin-bottom: 1.25rem; /* 20/16 */
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 700;
    @media screen and (min-width: 768px) {
      font-size: 2.5rem;
    }
    @media screen and (min-width: 1024px) {
      font-size: 3rem;
    }
  }

  .hero_desc {
    margin-bottom: 2rem; /* 32/16 */
    p {
      font-size: 1rem;
      line-height: 1.6;
      color: rgb(var(--color-border));
      @media screen and (min-width: 768px) {
        font-size: 1.125rem;
      }
    }
  }

  .hero_image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    &:after{
      content: '';
      display: block;
      padding-bottom: 100%;
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }
  }
}
