.hero {
  position: relative;
  z-index: 1;
  padding-bottom: var(--bottom-space);
  .hero_bg {
    position: absolute;
    left: 0;
    top: 50%;
    width: 70%;
    height: 50%;
    background-image: url("/hero-bg.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    @media screen and (min-width: 1024px) {
      top: 0;
      height: 100%;
    }
  }

  .hero_wrapper {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: 31.25rem 1fr;   /* 500/16 */
    }
  }

  .hero_content {

  }

  .hero_title {
    margin-bottom: 1.5rem; /* 24/16 */
  }

  .hero_desc {
    margin-bottom: 3.5rem; /* 56/16 */
  }

  .hero_image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    &:after{
      content: '';
      display: block;
      padding-bottom: 100%;
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }
  }
}