.reviews {
  .wrapper{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
  }
  .review_header{
    display: flex;
    align-items: center;
    gap: 0.5rem;  /* 8/16 */
    margin-bottom: 1rem; /* 16/16 */
  }
  .review_img {
    width: 5.75rem ; /* 92/16 */
    height: 5.75rem ; /* 92/16 */
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }
  .review_info {

  }
  .name {

  }
  .stars {
    display: flex;
    gap: 0.25rem; /* 4/16 */
  }
  .content {

  }
  .navigation_wrapper {

    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    box-sizing: border-box;
    display: none;
    @media screen and (min-width: 1200px){
      display: flex;
    }
  }
  .nav_btn {
    position: static;
    transform: unset;
  }
}