.tabs-nav {
  display: flex;
  border-bottom: 1px solid #C3C8CD;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    bottom: -1px;
    height: 2px;
    background: currentColor;
    width: var(--tab-width,0);
    left: var(--tab-left,0);
    transition: all .3s linear;
  }
  li {
    flex: 1 1 auto;
    padding: 1rem;
    cursor: pointer;
    transition: all .2s linear;
    text-align: center;
    position: relative;
    &:not(.active):hover {
      //transform: scale(1.05);
      &:before {
        //width: 100%;
      }
    }
    &:before {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      background: currentColor;
      width: 0;
      transition: all .2s linear;
    }
  }
}
.tabs {
  display: grid;
  padding-top: 4.5rem;  /* 72/16 */
}

.tab {
  display: none;
  &.active{
    display: flex;
    justify-content: space-between;
    gap: 3rem;  /* 48/16 */
    width: 100%;
  }
}

.tab-content {
  max-width: 30rem; /* 480/16 */
}
.tab-media {
  max-width: 725px;
  width: 100%;
  object-fit: contain;
  object-position: center;
}