.service_columns {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .item {
    padding: 3rem;
    border-radius: 2.25rem;  /* 36/16 */
    .title {
      &:before {
        content: '';
        display: inline-block;
        --size: 1.5rem;   /* 24/16 */
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        background: currentColor;
        margin-right: .5rem;
      }
    }
  }
}