.tabs_content {
  padding: var(--top-space) 0 var(--bottom-space);
  .wrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4rem;
    @media screen and (min-width: 1024px) {
      flex-direction: row;
    }
  }
  .tabs_headers {
    width: 100%;
    @media screen and (min-width: 1024px) {
      max-width: 22rem;  /* 352/16 */
    }
    ul {
      display: flex;
      align-items: center;
      overflow-x: scroll;
      overflow-y: hidden;
      li {
        margin-bottom: 0.5rem;
        white-space: nowrap;
        @media screen and (min-width: 1024px) {
          white-space: unset;
        }
      }
      @media screen and (min-width: 1024px) {
        display: block;
      }
    }
  }
  .header_btn {
    &:hover {
      scale: 1.03;
    }
  }
  .tabs_contents {
    max-width: 66.5rem;  /* 1064/16 */
    width: 100%;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 0 1.5rem  /* 24/16 */ 3rem  /* 48/16 */ rgba(97, 78, 250, 0.1);
    border-radius: 1.5rem ; /* 24/16 */
    overflow: hidden;
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .card_content {
    padding: 2rem 3rem;
  }
  .card_media {
    position: relative;
    border-radius: 1.5rem ; /* 24/16 */
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}