.hero {
  position: relative;
  z-index: 1;
  padding-bottom: var(--bottom-space);
  .hero_bg {
    position: absolute;
    left: 0;
    top: 50%;
    width: 70%;
    height: 50%;
    background-image: url("/hero-bg.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    @media screen and (min-width: 1024px) {
      top: 0;
      height: 100%;
    }
  }

  .hero_wrapper {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    padding: 2rem 0 3rem;
    @media screen and (min-width: 768px) {
      gap: 2rem;
      padding: 3rem 0 4rem;
    }
    @media screen and (min-width: 1024px) {
      display: grid;
      grid-template-columns: 28rem 1fr;   /* 448/16 */
      gap: 4rem;
      padding: 6rem 0;
    }
  }

  .hero_content {
    width: 100%;
    text-align: center;
    @media screen and (min-width: 1024px) {
      text-align: left;
    }
    
    .btn-primary {
      display: inline-block;
      font-size: 0.875rem;
      padding: 0.75rem 1.5rem;
      @media screen and (min-width: 480px) {
        font-size: 1rem;
        padding: 0.875rem 2rem;
      }
      @media screen and (min-width: 768px) {
        padding: 1rem 2.5rem;
      }
    }
  }

  .hero_title {
    margin-bottom: 1rem; /* 16/16 */
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 700;
    padding: 0 0.5rem;
    @media screen and (min-width: 480px) {
      font-size: 1.75rem;
      padding: 0;
    }
    @media screen and (min-width: 768px) {
      font-size: 2.25rem;
      margin-bottom: 1.25rem;
    }
    @media screen and (min-width: 1024px) {
      font-size: 3rem;
      padding: 0;
    }
  }

  .hero_desc {
    margin-bottom: 1.5rem; /* 24/16 */
    padding: 0 0.5rem;
    @media screen and (min-width: 480px) {
      padding: 0;
    }
    @media screen and (min-width: 768px) {
      margin-bottom: 2rem;
    }
    p {
      font-size: 0.9rem;
      line-height: 1.6;
      color: rgb(var(--color-border));
      @media screen and (min-width: 480px) {
        font-size: 1rem;
      }
      @media screen and (min-width: 768px) {
        font-size: 1.125rem;
      }
    }
  }

  .hero_image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
    &:after{
      content: '';
      display: block;
      padding-bottom: 85%;
      @media screen and (min-width: 480px) {
        padding-bottom: 90%;
      }
      @media screen and (min-width: 768px) {
        padding-bottom: 100%;
      }
      @media screen and (min-width: 1024px) {
        display: none;
      }
    }
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }
  }
}
