// How it works component styles

.cta_wrap {
  // Styles for CTA wrapper
}

.cta_card {
  // Styles for CTA card
}

.cta_title {
  // Styles for CTA title
}

.cta_desc {
  // Styles for CTA description
}
