.media_grid {
  padding: var(--top-space) 0 var(--bottom-space);

  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .grid_item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 0.75rem;
    @media screen and (min-width: 768px) {
      margin-bottom: 1rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 0.75rem;  /* 12/16 */
      @media screen and (min-width: 768px) {
        border-radius: 1.25rem;  /* 20/16 */
      }
      @media screen and (min-width: 1024px) {
        border-radius: 1.75rem;  /* 28/16 */
      }
    }

  }

  .item_wrapper {
    display: block;
    width: 100%;
    height: 100%;
  }
}