.portfolio {
  padding: var(--top-space) 0 var(--bottom-space);
  .header {
    display: flex;
    gap: 5rem;
    .desc {
      max-width: 35.125rem;  /* 562/16 */
    }
  }
  .wrapper {
    padding: var(--top-space) 0 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
  }
  .filter_wrapper {
    display: flex;
    max-width: 56.25rem; /* 900/16 */
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: var(--top-space);
    input{
      &[type="radio"],
      &[type="checkbox"] {
        display: none;
      }
    }
    .label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 1.25rem 2rem ;/* 20/16 *//* 32/16 */
      background: rgb(var(--color-bg));
      border-radius: 0.625rem ; /* 10/16 */
      transition: all var(--duration) ease;
      cursor: pointer;
      &:hover,
      &:has(input:checked) {
        background: #D9D9D9;
      }
    }
  }
  .item {
    position: relative;
    .item_wrapper {
      position: relative;
      z-index: 1;
      border-radius: 1.25rem ; /* 20/16 */
      overflow: hidden;
      display: block;
      &:after {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
}