.page_bg {
  background-image: url("/page-bg.svg");
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1920px;
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.service_hero {
  padding: var(--top-space) 0 var(--bottom-space);
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: flex-start;
    gap: 4rem;
  }
}