.services_hero {
  position: relative;
  padding: var(--top-space) 0 var(--bottom-space);
  .bg {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 50%;
    background-image: url("/hero-bg.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    @media screen and (min-width: 1024px) {
      top: 0;
      height: 100%;
    }
  }
  .content {
    display: flex;
    gap: 3rem;
  }
  .desc {
    max-width: 35.5rem;/* 568/16 */
  }
}