.page_bg {
  background-image: url("/page-bg.svg");
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1920px;
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

.service_hero {
  padding: var(--top-space) 0 var(--bottom-space);
  position: relative;
  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 3rem;
    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1.5fr;
      gap: 4rem;
    }
  }
  
  .content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
    h1 {
      margin: 0;
      line-height: 1.2;
      word-break: break-word;
    }
  }
  
  .desc {
    p {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      color: rgb(var(--btn-primary-bg));
      text-decoration: underline;
      &:hover {
        opacity: 0.8;
      }
    }
  }
  
  .image {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: center;
    }
  }
}