@use "tailwindcss";
@plugin "tailwindcss-animate";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 14px;
  @media screen and (min-width: 1366px) {
    font-size: 15px;
  }
}

#root {
  --font-title: var(--font-inter);
  --font-text: var(--font-inter);
  --radius: 0.625rem;
  --duration: .3s;
  --duration-short: .15s;
  --top-space: 3rem;
  --bottom-space: 3rem;
  --header-z-index: 1000;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
}

.mh-full-screen {
  min-height: calc(100vh - 68px);
}

#root {
}

.container {
  padding: 0 1rem;
}
