#root {
  font-family: var(--font-text), sans-serif;
  line-height: 1.6;
  font-size: 14px;
  @media screen and (min-width: 1366px) {
    font-size: 16px;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 600;
  font-family: var(--font-title), sans-serif;
  line-height: 1.2;
  margin-bottom: 1em;
}

h1, .h1 {
  font-size: 3.25rem; /* 52/16 */
}

h2, .h2 {
  font-size: 2.625rem; /* 42/16 */
}

h3, .h3 {
  font-size: 2rem; /* 32/16 */
}

h4, .h4 {
  font-size: 1.6875rem; /* 27/16 */
}

h5, .h5 {
  font-size: 1.5rem; /* 24/16 */
}

h6, .h6 {
  font-size: 1.25rem; /* 20/16 */
}

.subtitle {
  font-size: 1rem; /* 16/16 */
  font-weight: 500;
}

.large-font {
  font-size: 1.125rem;  /* 18/16 */
}

.rte {
  p,ul,ol {
    &:not(:last-child){
      margin-bottom: 1.5em;
    }
  }

  li {
    display: flex;
    align-items: center;
    gap: 0.625rem; /* 10/16 */
    &:not(:last-child){
      margin-bottom: 0.5em;
    }
    &:before {
      content: '';
      background-image: url("/marker-icon.svg");
      width: 0.875rem; /* 14/16 */
      height: 0.875rem; /* 14/16 */
      display: inline-block;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}
